body {
	background: url("http://brianinacio.ca/work/Sketchpad/images/desk_texture.png");
}

ul, li {
	list-style-type: none;
}

.newContactForm {
	width: 300px;
}

.contactInListView {
	width: 85%;
	padding: 4%;
	background-color: white;
	box-shadow: 0 0 30px black;
	border-radius: 5%;
}

.single-card {
	// text-size: 2em;
	margin: auto;
	min-height: 160px;
	min-width: 260px;
	background: no-repeat url("../images/card.png");
	padding: 14px 0;
	font-weight: 700;

	ul {
		margin-left: -15px;
	}

	a {
		margin-left: 215px;
	}

}