body {
	background: url("http://brianinacio.ca/work/Sketchpad/images/desk_texture.png");
	font-family: 'Raleway', sans-serif;
}

ul, li {
	list-style-type: none;
}

.newContactForm {
	width: 300px;
}

.contactInListView {
	font-size: 1.2em;
	width: 100%;
	padding: 4%;
	background-color: white;
	box-shadow: 0 0 30px black;
	border-radius: 5px;
}

.single-card {
	margin: auto;
	min-height: 250px;
	min-width: 260px;
	background: no-repeat url("../images/card2.png");
	padding: 14px 0;
	font-size: 1.5em;
	font-weight: bold;

	a {
		float: right;
		margin-right: 115px;
	}

}

.header-font {
	font-family: 'Archivo Black', Impact, sans-serif;
	font-size: 3em;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.3);
	a { 
		color: white;
	}
	a:hover {
		color: #424242
	}
}

.radio-group {
	text-align: center;
	margin: 15px;
	color: white;
}

.footer {
	color: white;
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

label, h3 {
	color: white;
}

.inline {
	display: inline;
}

