<nav class="navbar" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand header-font" href="#">SCROLLODEX</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-if="user.uid">
		    	<li><a href="#!/addy/list">Show Scrollodex</a></li>
		    	<li><a href="#!/addy/new">Add New</a></li>
		    	<li><a href="#!/logout">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!user.uid">
          <li><a href="#!/auth">Authenticate</a></li>
      </ul>
    </div>
  </div>
</nav>