body {
  background: url("http://brianinacio.ca/work/Sketchpad/images/desk_texture.png");
  font-family: 'Raleway', sans-serif; }

ul, li {
  list-style-type: none; }

.newContactForm {
  width: 300px; }

.contactInListView {
  width: 85%;
  padding: 4%;
  background-color: white;
  box-shadow: 0 0 30px black;
  border-radius: 5px; }

.single-card {
  text-size: 2em;
  margin: auto;
  min-height: 160px;
  min-width: 260px;
  background: no-repeat url("../images/card.png");
  padding: 14px 0;
  font-weight: 700; }
  .single-card ul {
    margin-left: -15px; }
  .single-card a {
    margin-left: 215px; }

.header-font {
  font-family: 'Kumar One', cursive;
  font-size: 2em; }

.navbar {
  background-color: rgba(255, 255, 255, 0.3); }
  .navbar a {
    color: white; }
  .navbar a:hover {
    color: #424242; }
